Django==5.1.3
gunicorn==23.0.0
requests==2.32.3
google-cloud-vision==3.8.1
google-cloud-pubsub==2.27.1
openai==1.55.3
python-dotenv==1.0.1
pillow==11.0.0
urllib3==2.2.3
pylatexenc==2.10
asgiref==3.8.1
psycopg[binary]==3.3.2
google-auth==2.40.2
google-cloud-texttospeech==2.27.0
numpy==2.2.3
sympy==1.14.0
google-cloud-secret-manager==2.25.0
cryptography==44.0.0
google-cloud-kms==3.7.0