{% extends 'math_trainer/common/base.html' %} 

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% include "math_trainer/common/breadcrumbs.html" %}
        <li class="breadcrumb-item active" aria-current="page">計算練習一覧</li>
    </ol>
</nav>
{% endblock %}

{% block title %}計算練習一覧{% endblock %}

{% block content %}
<a class="btn btn-outline-primary"
    href="{% url 'math_trainer:common:score' %}?student_id={{ student_id }}{% if classroom_id %}&classroom_id={{ classroom_id }}{% endif %}">
        採点へ
</a>
<div class="container-fluid">
    <ul class="list-group center-block" style="max-width: 800px;">
        <li class="list-group-item"><a href="{% url 'math_trainer:elementary2:problem_select' %}?student_id={{ student_id }}{% if classroom_id %}&classroom_id={{ classroom_id }}{% endif %}">小2の計算練習</a><br>(時計)</li>
    </ul>
    <br>
    <ul class="list-group center-block" style="max-width: 800px;">
        <li class="list-group-item"><a href="{% url 'math_trainer:junior_high1:problem_select' %}?student_id={{ student_id }}{% if classroom_id %}&classroom_id={{ classroom_id }}{% endif %}">中1の計算練習</a><br>(1次方程式)</li>
    </ul>
    <ul class="list-group center-block" style="max-width: 800px;">
        <li class="list-group-item"><a href="{% url 'math_trainer:junior_high2:problem_select' %}?student_id={{ student_id }}{% if classroom_id %}&classroom_id={{ classroom_id }}{% endif %}">中2の計算練習</a><br>(連立方程式)</li>
    </ul>
</div>
{% endblock %}