{% extends 'base.html' %}

{% block title %}生徒情報編集{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if user.role == 'organization_administrator' or user.role == 'classroom_administrator' %}
            <li class="breadcrumb-item">
                <a href="{% url 'organization_admin:classroom_list' %}">教室一覧</a>
            </li>
            {% if classroom_id %}
                <li class="breadcrumb-item">
                    <a href="{% url 'organization_admin:classroom_detail' classroom_id %}">教室詳細</a>
                </li>
            {% endif %}
        {% elif user.role == 'teacher' %}
            <li class="breadcrumb-item">
                <a href="{% url 'organization_admin:teacher_dashboard' %}">担当生徒一覧</a>
            </li>
        {% endif %}
        {% if student_id %}
        <li class="breadcrumb-item">
            <a href="{% url 'organization_admin:student_detail' student_id %}?classroom_id={{classroom_id}}">生徒詳細</a>
        </li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">生徒情報編集</li>
    </ol>
</nav>
{% endblock %}

{% block content %}
<h1>{{ student.username }} の情報を編集</h1>


<form method="post" class="mt-4">
    {% csrf_token %}
    <input type="hidden" name="classroom_id" value="{{ classroom_id }}">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">保存</button>
    <a href="{% url 'organization_admin:student_detail' student.pk %}?classroom_id={{ classroom_id }}" class="btn btn-secondary">キャンセル</a>
</form>

{% if user.role == 'organization_administrator' or user.role == 'classroom_administrator' %}
<hr>
<form method="post" action="{% url 'organization_admin:student_delete' student.pk %}?classroom_id={{ classroom_id }}" onsubmit="return confirm('本当に削除してよろしいですか？');">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger mt-3">生徒を削除</button>
</form>
{% endif %}
{% endblock %}
