{% extends 'base.html' %}

{% block title %}担当生徒一覧{% endblock %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">担当生徒一覧</li>
    </ol>
</nav>
{% endblock %}


{% block content %}
<h1>担当生徒一覧</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>名前</th>
            <th>学年</th>
            <th>詳細</th>
        </tr>
    </thead>
    <tbody>
        {% for student in students %}
        <tr>
            <td>{{ student.username }}</td>
            <td>{{ student.get_grade_display }}</td>
            <td><a href="{% url 'organization_admin:student_detail' student.id %}" class="btn btn-sm btn-info">詳細を見る</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
